@import "@fontsource-variable/roboto-mono";
@import "tailwindcss";

@theme {
  --color-primary-gray: #74758e;
}

body {
  font-family: "Roboto Mono Variable", monospace;
  background-color: #080924;
}
h1,
h2,
h3 {
  color: #ffffff;
}

p {
  @apply text-primary-gray;
}

.custom-btn {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #ffffff;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.custom-btn:active,
.custom-btn:hover {
  outline: 0;
}

.custom-btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.custom-btn:hover span {
  background: none;
}

.custom-btn:active {
  transform: scale(0.9);
}

.neon-text {
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 2px #fff;
}
