@import "@fontsource-variable/roboto-mono";
@import "tailwindcss";

@theme {
  --color-primary-gray: #c2c3cf;
}

body {
  font-family: "Roboto Mono Variable", monospace;
  background-color: #080924;
}
h1,
h2,
h3 {
  color: #ffffff;
}

p {
  @apply text-primary-gray;
}

.hero {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
}

/* .hero:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    rgba(8, 9, 36, 0) 0%,

    rgba(8, 9, 36, 1) 100%
  );
}

.text-box:before {
  content: "";
  position: absolute;
  top: -16rem;
  left: 0;
  width: 305px;
  height: 305px;
  background-image: url("/shape2.svg");
  background-size: cover;
  z-index: 5;
}

.text-box:after {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 20%;
  width: 300px;
  height: 300px;
  background-image: url("/shape5.svg");
  background-size: cover;
  opacity: 0.5;
  transform: rotate(-45deg);
  z-index: 5;

  @media (max-width: 768px) {
    display: none;
  }

  @media (min-width: 770px) {
    left: 15%;
  }

  @media (min-width: 1300px) {
    left: 30%;
  }
}

.shape-1 {
  top: 0rem;
  right: -100px;
  width: 550px;
  height: 550px;
  background-image: url("/shape1.svg");
  background-size: cover;
  z-index: 2;

  @media (max-width: 648px) {
    top: 7rem;
    right: -210px;
  }
  @media (max-width: 500px) {
    top: 13rem;
  }

  @media (min-width: 1300px) {
    top: -6rem;
    width: 700px;
    height: 700px;
  }
} */
.custom-btn {
  background-image: linear-gradient(144deg, #00b9fa, #5b42f3 50%, #00ddeb);
  color: #ffffff;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.custom-btn:active,
.custom-btn:hover {
  outline: 0;
}

.custom-btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.custom-btn:hover span {
  background: none;
}

.custom-btn:active {
  transform: scale(0.9);
}

.neon-text {
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 2px #fff;
}

@keyframes carousel-fade {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel:before,
.carousel:after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  background-color: red;
  z-index: 1;

  @media (max-width: 768px) {
    width: 75px;
  }
}

.carousel:before {
  left: 0;
  background: linear-gradient(to left, rgba(246, 191, 191, 0), #080924);
}

.carousel:after {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #080924);
}

.carousel:hover .carousel-track {
  animation-play-state: paused;
}
.carousel-track {
  animation-name: carousel-fade;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
